<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-App</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/utitlity.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__switch">
                <img src="img/switch.png" alt="" class="header__switch--icon">
            </div>
            <div class="header__logo">
                <img src="img/logo.png" alt="" class="header__logo--icon">
                <span>Current Wave</span>
            </div>
            <div class="header__search">
                <img src="img/search.png" alt="" class="header__search--icon">
            </div>
        </header>
        <main>
            <div class="search__box">
                <img src="img/bridge.png" alt="">

                <form action="">
                    <div class="form-group">
                        <img src="img/location.png" alt="icon">
                        <input type="search" placeholder="Enter Location">
                        <button type="submit">Search</button>
                    </div>
                </form>
            </div>

        
        </main>
        <footer>
            <div class="nav">
                <a href="#" class="nav__link">
                    <img src="img/back.png" alt="" class="nav__icon">
                </a>
                <a href="/" class="nav__link">
                    <img src="img/home.png" alt="" class="nav__icon">
                </a>
                <a href="/search" class="nav__link">
                    <img src="img/search.png" alt="" class="nav__icon">
                </a>
            </div>
        </footer>
    </div>
   <script src="/js/app.js"></script>
</body>
</html>